.barra{
    display: flex;
    width: 80%;
    background-color: rgb(141, 141, 141);
    border-radius: 20px;
    margin: auto;
    justify-content: space-between;
    padding: 5px;
    margin-top: 15px;
}
